body {
  width: 99vw;
  height: 98vh;
  font-family: sans-serif;
  overflow: hidden;
}

.background-image {
  z-index: 1;
  width: 724px;
  height: 602px;
  position: absolute;
}

#container {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

#other-players {
  width: 414px;
  margin: 0 1%;
  position: relative;
}

#game-Log {
  height: 17%;
  width: inherit;
  border: black solid 1px;
  overflow: scroll;
  border-radius: 7px;
}

#player-info1,
#player-info2,
#player-info3 {
  height: 13%;
  width: 100%;
  display: flex;
  border-radius: 7px;
  border: navy solid 0.5px;
  margin: 2px;
}

#cards-count {
  width: 38%;
  height: 100%;
  display: flex;
}

#resCard-count,
#devCard-count {
  width: 50%;
  height: 100%;
}

.count {
  font-size: 20px;
  margin: 10px 15px;
}

#bank {
  width: 100%;
  height: 17%;
  border: black solid 0.5px;
  display: flex;
  border-radius: 7px;
  margin: 2px;
  justify-content: space-evenly;
}

#current-player {
  height: 21%;
  width: 100%;
  border: navy solid 0.5px;
  margin-top: 2px;
  border-radius: 7px;
  display: flex;
}

#game-area {
  width: 70%;
}

#interactions {
  width: 99.4%;
  height: 15%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#player-cards {
  height: 100%;
  width: 45%;
  display: flex;
  margin-top: 1%;
  justify-content: space-evenly;
}

#actions {
  height: 50%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5%;
}

#board {
  width: 100%;
  height: 82%;
  left: 6%;
  display: flex;
}

#board-border {
  width: 724px;
  height: 615px;
  fill: transparent;
  position: absolute;
  z-index: -1;
}

#display {
  width: 724px;
  height: 80%;
  display: block;
  position: absolute;
}

#rows {
  height: 600px;
  width: 720px;
  margin-top: 60px;
}

.row {
  display: block;
  text-align: center;
}

.terrain {
  width: 101px;
  height: 124px;
  margin: 0px -3px -38px 0px;
}

#robber {
  width: 55px;
  height: 57px;
}

.number-token {
  fill: rgb(71, 69, 69);
  stroke: white;
  stroke-width: 0.3px;
  font-size: large;
  text-anchor: middle;
}

.terrain-image {
  height: 120px;
  width: 100px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 1;
}

svg {
  fill: #08080869;
}

/* ----------------------- interactions for settlements ------------------------------------*/

.allIntersections {
  position: absolute;
  width: 720px;
  height: 544px;
  margin-top: 46px;
}

.point-block {
  display: flex;
  justify-content: space-between;
  margin: 0.6% auto 1.2%;
  height: 20px;
}

.point {
  width: 30px;
  height: 30px;
  border-radius: 80%;
  text-align: center;
  box-sizing: border-box;
}

@keyframes open-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(248, 205, 205, 0.7), 0 0 0 8px rgba(248, 205, 205, 0.7),
      0 0 0 0 rgba(248, 205, 205, 0.7);
  }
  100% {
    box-shadow: 0 0 0 4px rgba(248, 205, 205, 0.3), 0 0 0 16px rgba(248, 205, 205, 0.3),
      0 0 0 0 rgba(248, 205, 205, 0.7);
  }
}

.visibleIntersection {
  background-color: whitesmoke;
  opacity: 0.5;
  cursor: pointer;
  animation: open-animation 1.5s infinite;
}

.afterSettlement {
  height: 30px;
  width: 30px;
  margin: -2% 0% 0% 0%;
}

#turn {
  height: 100%;
  width: 28%;
  display: flex;
  margin-left: 72%;
}
#turn-details,
#dice-box {
  height: 100%;
  width: 50%;
}
#dice {
  height: 11%;
  width: 100%;
  display: flex;
  margin: 370% 0% 6% 0%;
}
#dice1,
#dice2 {
  width: 42%;
  height: 84%;
  margin: 3%;
}

/*---------------------------- Roads ------------------*/

.allRoads {
  position: absolute;
  width: 720px;
  height: 544px;
  margin-top: 50px;
}

.tiltedRoads {
  display: flex;
  justify-content: space-around;
  display: flex;
  justify-content: space-around;
  margin: 1.5% auto -2.2%;
}

.straight-roads {
  display: flex;
  justify-content: space-around;
  margin: 6.12% auto;
}

.road,
.right-top-tilted-road,
.left-top-tilted-road,
.right-down-tilted-road,
.left-down-tilted-road {
  background-color: white;
  opacity: 0.4;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 13px;
  height: 40px;
  cursor: pointer;
}

g.tiltedRoads > .right-top-tilted-road {
  transform: rotate(55deg);
}

g.tiltedRoads > .left-top-tilted-road {
  transform: rotate(125deg);
}

g.tiltedRoads > .right-down-tilted-road {
  transform: rotate(60deg);
}

g.tiltedRoads > .left-down-tilted-road {
  transform: rotate(-58deg);
}

svg {
  fill: #074a6669;
}

.show-road {
  width: 13px;
  height: 40px;
}
