body {
  width: 99vw;
  height: 98vh;
  font-family: sans-serif;
  background: rgb(0, 148, 210);
  /* background: rgb(0, 145, 203); */
  background-size: contain;
  overflow: hidden;
}

.background-image {
  z-index: 1;
  width: 800px;
  height: 637px;
  position: absolute;
  /* clip-path: polygon(28% 1%, 73% 2%, 94% 51%, 72% 99%, 29% 99%, 6% 52%); */
  z-index: 1;
  width: 800px;
  height: 635px;
  position: absolute;
  clip-path: polygon(28% 1%, 73% 2%, 94% 51%, 72% 99%, 29% 99%, 6% 52%);
  /* clip-path: polygon(
    222px 5px,
    581px 4px,
    760px 318px,
    563px 652px,
    238px 652px,
    42px 320px
  ); */
}

#container {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

#other-players {
  width: 414px;
  margin: 0 1%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

#game-Log {
  height: 30%;
  width: inherit;
  background: rgba(235, 233, 227, 0.377);
  border: black solid 1px;
  margin: 0% 0% 0.6% 1%;
  overflow: scroll;
  border-radius: 7px;
}

#player-info1,
#player-info2,
#player-info3 {
  height: 13%;
  width: 100%;
  display: flex;
  background: rgba(235, 233, 227, 0.377);
  border: black solid 1px;
  justify-content: space-between;
  border-radius: 7px;
  margin: 2px;
}

#cards-count {
  width: 26%;
  height: 100%;
  display: flex;
  margin-left: -6%;
}

#resourceCards,
#cards-count #developmentCards {
  width: 50%;
  height: 100%;
}

#player-status {
  width: 56%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.component {
  height: 40px;
  width: 72px;
  margin: 2px;
  border-radius: 5px;
  /* box-shadow: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.2); */
  display: flex;
}

.count {
  font-size: 20px;
  margin: 10px 15px;
}

#bank {
  width: 100%;
  height: 12%;
  background: rgba(235, 233, 227, 0.377);
  border: black solid 1px;
  display: flex;
  border-radius: 7px;
  margin: 2px;
  justify-content: space-evenly;
}

#player-info0 {
  height: 16%;
  width: 100%;
  background: rgba(235, 233, 227, 0.377);
  border: black solid 1px;
  margin-top: 2px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.icon-size {
  height: 30px;
  width: 30px;
}

.player-initial {
  height: 100%;
  width: 11%;
  margin: 4% 0% 0% 2%;
}

#current-player-cards-count {
  height: 100%;
  width: 26%;
  display: flex;
}

.player-icon-size {
  height: 50%;
  width: 100%;
}

.current-player-icon-size {
  height: 50%;
  width: 130%;
  margin: 0% 0% 0% -8%;
}

#playerName {
  width: 100%;
  text-align: center;
}
/*-----------------board--------------------*/
#game-area {
  width: 70%;
}

#interactions {
  width: 68.4%;
  height: 13.2%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

#player-cards {
  height: 100%;
  width: 45%;
  background: rgba(235, 233, 227, 0.377);
  border: 1px black solid;
  border-radius: 7px;
}

.card-heading {
  text-align: center;
  font-size: large;
  font-weight: 500;
  -webkit-text-stroke: 0.6px black;
  color: rgba(255, 255, 255, 0.973);
}

#board {
  width: 100%;
  height: 84%;
  left: 6%;
  display: flex;
}

#board-border {
  width: 100%;
  height: 100%;
  fill: transparent;
  position: absolute;
  z-index: -1;
}

#display {
  width: 790px;
  height: 680px;
  display: block;
  position: absolute;
}

#rows {
  height: 100%;
  width: 100%;
  margin-top: 7.8%;
}

.row {
  display: block;
  text-align: center;
}

.terrain {
  width: 15%;
  /* height: 1%; */
  margin: 0.3% -1.9% -7.8% -0%;
}

#robber {
  width: 55px;
  height: 57px;
}

.robber {
  font-size: 20px;
  margin: 14% 0% 0% 47%;
}

.number-token {
  fill: rgb(71, 69, 69);
  stroke: white;
  stroke-width: 0.3px;
  font-size: large;
  text-anchor: middle;
}

.terrain-image {
  height: 130px;
  width: 110px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 1;
}

svg {
  fill: #08080869;
}
/*----------------------------user Actions-----------------------------*/

#actions {
  height: 50%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5%;
}

.unit {
  height: 81%;
  width: 11%;
  border: solid 1px;
  margin-top: 19px;
  cursor: pointer;
  /* background: rgba(235, 233, 227, 0.377); */
}

.disabledUnit {
  opacity: 0.6;
  cursor: not-allowed;
}

#rollDice {
  margin: 4%;
  cursor: pointer;
  width: 83%;
  height: 40%;
}

/* ----------------------- interactions for settlements ------------------------------------*/

.pathsAndIntersections {
  position: absolute;
  width: 768px;
  height: 620px;
  /* margin: 53px auto 35px; */
  margin-top: 53px;
  margin-left: 14px;
}

.point-block {
  display: flex;
  justify-content: space-between;
  margin: 0% auto 0%;
  height: 20px;
}

.point {
  width: 25px;
  height: 25px;
  border-radius: 80%;
  text-align: center;
  box-sizing: border-box;
}

@keyframes open-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(248, 205, 205, 0.3),
      0 0 0 7px rgba(248, 205, 205, 0.5);
  }

  15% {
    box-shadow: 0 0 0 0 rgba(248, 205, 205, 0.3),
      0 0 0 10px rgba(248, 205, 205, 0.5);
  }

  35% {
    box-shadow: 0 0 0 8px rgba(248, 205, 205, 0.5),
      0 0 0 12px rgba(248, 205, 205, 0.5);
  }

  75% {
    box-shadow: 0 0 0 4px rgba(248, 205, 205, 0.5),
      0 0 0 10px rgba(248, 205, 205, 0.5);
  }

  85% {
    box-shadow: 0 0 0 4px rgba(248, 205, 205, 0.5),
      0 0 0 7px rgba(248, 205, 205, 0.5);
  }

  100% {
    box-shadow: 0 0 0 4px rgba(248, 205, 205, 0.5),
      0 0 0 5px rgba(248, 205, 205, 0.5);
  }
}

@keyframes change-size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1);
  }
}

.visibleIntersection {
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
  animation: open-animation 3s infinite;
}

.afterSettlement {
  height: 25px;
  width: 25px;
  margin: -2% 0% 0% 0%;
}

#turn {
  height: 100%;
  width: 28%;
  display: flex;
  margin-left: 72%;
}

#dice-box {
  height: 100%;
  width: 21%;
  margin-left: 80%;
}
#dice {
  height: 11%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 235% 0% 0% 15%;
}

#dice1,
#dice2 {
  width: 40%;
  height: 84%;
  margin: 3%;
  border-radius: 13%;
  box-shadow: -2px 1px 3px 2px rgba(0, 0, 0, 0.3);
}

#dice1 {
  background-color: yellow;
}

#dice2 {
  background-color: rgba(255, 0, 0, 0.8);
}

button {
  outline: none;
  border-radius: 4px;
}

/*---------------------------- Roads ------------------*/

.tiltedRoads {
  display: flex;
  justify-content: space-around;
  display: flex;
  justify-content: space-around;
  height: 3%;
  margin: 0px auto -2px;
}

.straight-roads {
  display: flex;
  justify-content: space-around;
  height: 5.8%;
  margin: 0px auto 2px;
}

.right-top-tilted-road,
.left-top-tilted-road,
.right-down-tilted-road,
.left-down-tilted-road {
  opacity: 0.3;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 13px;
  height: 40px;
  cursor: pointer;
  margin: -12px;
}

.road {
  opacity: 0.3;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 13px;
  height: 40px;
  cursor: pointer;
  margin-top: -5px;
}

g.tiltedRoads > .right-top-tilted-road {
  transform: rotate(55deg);
}

g.tiltedRoads > .left-top-tilted-road {
  transform: rotate(125deg);
}

g.tiltedRoads > .right-down-tilted-road {
  transform: rotate(60deg);
}

g.tiltedRoads > .left-down-tilted-road {
  transform: rotate(-58deg);
}

svg {
  fill: #074a6669;
}

.show-road {
  width: 13px;
  height: 40px;
}

.road-image {
  height: 100%;
  width: 100%;
}

.afterRoad {
  cursor: initial;
}

/*-----------hide-----------*/
.hide {
  pointer-events: none;
  background-color: transparent;
}

/*----------------------rotate---------------------*/
.flip-card-resources {
  width: 12%;
  height: 82%;
  perspective: 1000px;
}

.flip-card-bank {
  width: 11%;
  height: 80%;
  perspective: 1000px;
  margin-top: 2.4%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

@keyframes flip {
  50% {
    transform: rotateY(180deg);
    z-index: -1;
  }

  55% {
    z-index: 1;
  }
}

.flip-card-front {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  height: inherit;
  width: inherit;
  color: white;
}

.circle {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 23%;
  width: 38%;
  margin: -164% 0% 0% 80%;
  position: absolute;
  text-align: center;
  color: white;
  font-size: small;
  padding-top: 4%;
}

.changed-count {
  margin: 54% 0% 0% 30%;
  position: absolute;
  color: #99c8db;
  font-size: x-large;
}

/*--------------------devCardOption-------------------*/

#devCardOptionBox {
  height: 5.5%;
  width: 10%;
  border-radius: 7px;
  position: absolute;
  z-index: 1;
  background: rgba(235, 233, 227, 0.377);
  margin-left: 55%;
  display: none;
}

#options {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}

.action {
  border-radius: 7px;
  font-size: 17px;
  width: 29%;
  background-color: white;
  cursor: pointer;
  text-align: center;
  padding: 4px;
  font-weight: 200;
}

/* ------------------------ Activity log -------------------------*/

.activity {
  width: 100%;
  margin-top: 2%;
  font-weight: 200;
}

.activity-title {
  font-weight: 1000;
  font-size: large;
  margin-left: 2%;
}
