html(lang="en")
  head
    link(rel="stylesheet" href="/css/joinStyle.css")
    title Join
  body
    div#screen
      div#logo
        div(style="height:60%; width: 6%;")
          a(href="/index.html")
            img#go-back(src="/assets/goBack.png" alt="goBack")
        div
          img(src="/assets/name.png" alt="name" height="80%" width="90%" style="margin-left: 79%;")
      
      div#landing-box
        div.title Join Game
        form(action="/join" method="POST")
          div#error
            span= error
          div#join-name-box
            label(style="color: aliceblue;") Name
            br/
            input#join-name(type="text" name="playerName" placeholder="John" required)
          br/ 
          br/
          div#game-Id-box
            label(style="color: aliceblue;") GameId
            br/
            input(id="game-Id" type="text" name="gameId" placeholder="G-1234" required)
          button(type="submit" class="text-box") Join
